dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
Main
dist-*
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

